.wrapper {
    position: relative;
    height: 100%;
    background-image: url('../../public/map_1.png');
}

.loginForm {
    position: absolute;
    width: 580px;
    height: 541px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;

}