.wrapper {
    position: relative;
    height: 98vh;
    background: url('../../public/map_1.png') center center / cover no-repeat;;
}

.loginForm {
    position: absolute;
    width: 580px;
    height: 541px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;

}