.registration-wrapper {
    position: relative;
    height: 81vh;
    background: url('../img/map_1.png') center center / cover no-repeat;;
}

.registrationForm {
    position: absolute;
    width: 580px;
    height: 631px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;

}

.registrationForm__title {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

}

.registrationFields {
    position: relative;
    padding: 50px 112px 0px 112px;
}
label {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    display: block;
}

input {
    display: block;
}

label#fullname {
    margin-top: 25px;
}

label#password {
    margin-top: 25px;
}

input {
    outline: none;
    font-family: Roboto;
    font-size: 18px;
    color: #828282;
    width: 355px;
    border-width: 0px 0px 2px 0px;
    border-color: #E4E4E4;
    border-style: solid;
    padding: 10px 0px 11px 0px;
}

/*Ссылка забыли пароль?*/
a {
    text-decoration: none;
    color: #828282;
}

.rememberPassword {
    float: right;
    padding-top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/*Кнопка входа*/
.centerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submitButton {
    display: block;
    justify-content: center;
    align-items: center;
    height: 61px;
    background: #FDBF5A;
    border-radius: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-bottom: 33px;
    margin-top: 78px;
    border: 0px;
}

.submitButton:hover {
    cursor: pointer;;
}

.loginLink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.loginLink--active {
    color: #FDBF5A;
}

.loginLink--active:hover {
    cursor: pointer;
}